
<header>
  <nav id="menu">
      <ul>
          <li><a href="">Home</a></li>
          <li><a href="">About Us</a></li>
          <li><a href="">Contact</a></li>
      </ul>
  </nav>
  <div id="logo">
      <a href="">Yahoo Baba</a>
  </div>
  <nav id="social-links">
      <ul>
          <li><a href=""><mat-icon class="material-icons">search</mat-icon></a></li>
          <li><a href=""><mat-icon class="material-icons">home</mat-icon></a></li>
          <li><a href=""><mat-icon class="material-icons">face</mat-icon></a></li>
      </ul>
  </nav>
</header>